.paginationWrapper {
  display: flex;
  align-items: center;
}

.paginationNumbers {
  display: flex;
  align-items: center;
}

.paginationButton,
.paginationArrow {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--grayscaleColor400);
  text-align: center;
}

.paginationButton:hover,
.paginationArrow:hover {
  color: var(--brownColor400);
}

.paginationButton__active {
  color: var(--brownColor400);
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--brownColor200);
  border-radius: 9999px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}
