.questionCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 32px;
  width: 652px;
  border-radius: 16px;
  background-color: var(--grayscaleColor100);
  box-shadow: 0px 4px 4px 0px rgba(140, 140, 140, 0.25);

  @media (max-width: 767px) {
    width: 295px;
    padding: 24px;
    gap: 24px;
  }
}

.questionInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.questionTitle {
  font-size: 18px;
}

.answererName {
  font-size: 18px;
  line-height: 24px;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.createdAt {
  font-size: 14px;
  font-weight: 500;
  color: var(--grayscaleColor400);
}

.questionContent {
  font-size: 18px;
  line-height: 24px;
}

.answerContainer {
  display: flex;
  gap: 12px;
  width: 100%;
}

.userProfileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.answer {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.answerInfo {
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.answerContent {
  font-size: 16px;
  line-height: 22px;
}

.answerRejected {
  color: var(--redColor);
  line-height: 22px;
}

.judgeAnswerContainer {
  display: flex;
  width: 100%;
  gap: 32px;
  padding-top: 24px;
  border-top: 1px solid var(--grayscaleColor300);
}

.judge {
  align-items: center;
  display: flex;
  gap: 6px;
  font-size: 14px;
}

.isAnswered {
  color: var(--brownColor400);
  border: 1px solid var(--brownColor400);
}

.notAnswered {
  color: var(--grayscaleColor400);
  border: 1px solid var(--grayscaleColor400);
}

.answerStatus {
  padding: 4px 12px;
  background-color: var(--grayscaleColor100);
  border-radius: 8px;
}

.answerStatusBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kebabButton {
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
