.textArea {
  flex-grow: 1;
  padding: 16px;
  background-color: var(--grayscaleColor200);
  border-radius: 8px;
  border: none;
  min-height: 150px;
  height: auto;
  resize: none;

  &:focus {
    outline: 1px solid var(--brownColor400);
  }
}

.currentLength {
  color: var(--grayscaleColor300);
  align-self: flex-end;
  font-size: 14px;
  font-weight: 500;
}

.maxLength {
  color: var(--redColor);
  align-self: flex-end;
}
