.listContainer {
  width: 100%;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(4, minmax(186px, 222px));
  gap: 20px;
  margin-bottom: 5%;
}

.NotFoundPage_wrapper {
  background: url("../../assets/images/not_found_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  width: 100%;
  height: 40vh;
}

.NotFoundPage_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 32px;
}
.NotFoundImg {
  position: absolute;
}

@media (max-width: 870px) {
  .listContainer {
    grid-template-columns: repeat(2, minmax(122px, 222px));
    margin-bottom: 40px;
    gap: 16px;
  }
  .NotFoundPage_wrapper {
    margin: 40px auto;
    gap: 40vh;
  }
}
