.listContainer {
  width: 100%;
  max-width: 940px;
  display: grid;
  grid-template-columns: repeat(4, minmax(186px, 222px));
  gap: 20px;
  margin-bottom: 5%;
}

@media (max-width: 870px) {
  .listContainer {
    grid-template-columns: repeat(2, minmax(122px, 222px));
    margin-bottom: 40px;
    gap: 16px;
  }
}
