.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  z-index: 1;
}

.profileImage {
  width: 136px;
  border-radius: 50%;

  @media (max-width: 767px) {
    width: 104px;
  }
}

.profileUserName {
  font-size: 32px;
  font-family: Pretendard, sans-serif;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.shareButtonBox {
  display: flex;
  gap: 12px;
}

.shareButton {
  width: 40px;
}
