.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.profileImage {
  width: 136px;
  border-radius: 50%;
}

.shareButtonBox {
  display: flex;
  gap: 12px;
}

.shareButton {
  width: 40px;
}
