.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;

  border: 1px solid var(--brownColor300);
  background-color: var(--brownColor100);

  margin-top: 54px;
}

.questionCount {
  display: flex;
  gap: 8px;
  align-items: center;
}

.questionCardEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.questionEmptyImage {
  margin: 111px 277px 65px;

  @media (max-width: 767px) {
    margin: 106px;
  }
}
