.modalContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--grayscaleColor100);
  box-shadow: 0px 16px 20px 0px rgba(48, 48, 48, 0.62);
  width: 612px;
  height: 454px;
  padding: 40px;
  gap: 40px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 24px;

  @media (max-width: 767px) {
    width: 327px;
    height: 568px;
  }
}

.modalContainerBar {
  display: flex;
  justify-content: space-between;

  .barText {
    font-size: 24px;
    display: flex;
    align-items: center;
    line-height: 30px;
  }
}

.closeButton {
  width: 28px;
  height: 28px;
  background-image: url('../../assets/images/Close.svg');

  &:hover {
    background-color: var(--redColor);
    background-image: url('../../assets/images/CloseWhite.svg');
  }
}

.modalInputContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modalReceiverInfo {
  display: flex;
  align-items: center;
  gap: 4px;

  .toText {
    font-size: 18px;
    line-height: 24px;
  }
}

.modalProfileImage {
  width: 28px;
  border-radius: 50%;
}

.modalInput {
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: var(--grayscaleColor200);
  border-radius: 8px;
  border: none;

  &:focus {
    outline: none;
  }
  resize: none;
}
