.judgeAnswerContainer {
  display: flex;
  width: 100%;
  gap: 16px;
  padding-top: 24px;
  border-top: 1px solid var(--grayscaleColor300);

  @media (max-width: 767px) {
    padding-top: 8px;
  }
}

.judge {
  align-items: center;
  display: flex;
  gap: 6px;
  border: 1px solid var(--grayscaleColor100);
  border-radius: 50%;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.reactionTextDefault {
  font-size: 14px;
  color: var(--grayscaleColor400);
}

.likeText {
  font-size: 14px;
  color: var(--blueColor);
}

.dislikeText {
  font-size: 14px;
  color: var(--grayscaleColor600);
}

.buttonContainer {
  display: flex;
  align-items: center;
}
