.container {
  background-color: var(--grayscaleColor200);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/postpage_bg.png);
  background-position: center top;
  background-size: 1200px 234px;
  background-repeat: no-repeat;
  width: 100%;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logoImage {
  width: 170px;
  height: 67px;
}
