.container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
  background: var(--grayscaleColor200);
}

.background {
  position: absolute;
  background: var(--grayscaleColor100) url(../../assets/images/postpage_bg.png)
    center top no-repeat;
  height: 234px;
  width: 100%;
  margin-top: -50px;

  @media (max-width: 767px) {
    height: 177px;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logoImage {
  width: 170px;
  height: 67px;

  @media (max-width: 767px) {
    width: 124px;
    height: 49px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.QuestionFeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.FloatingButtonAtRightSide {
  align-self: flex-end;
}

.FloatingButtonAtCorner {
  position: fixed;
  right: 24px;
  bottom: 24px;
}
