.mainWrap {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: var(--grayscaleColor200);
  padding: 160px 0 0;
  width: 100%;
}

.mainConBox {
  width: 100%;
  display: flex;
  padding: 32px;
  background: var(--grayscaleColor200);
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  gap: 12px;
}

.notFoundImg {
  width: auto;
  height: 300px;
  button {
    width: 200px;
  }
}

@media (max-width: 767px) {
  .mainWrap {
    height: calc(100vh - 80px);
    padding: 80px 0 0;
    background-size: 120%;
  }
  /* 모바일 */
  .logo img {
    height: 98px;
  }
  .mainConBox {
    width: 257px;
    padding: 24px;
    margin: 82px 0 0;
  }
}
