.cardWrapper {
  position: relative;
  max-width: 220px;
  background-color: var(--grayscaleColor100);
  display: block;
  padding: 20px;
  text-decoration: none;
  border-radius: 16px;
  box-shadow: 0 0 5px 2px var(--brownColor200);
  margin: 0 auto;
}

.profileSection {
  color: var(--grayscaleColor600);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 28px;
}

.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 9999px;
}

.profileName {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
}

.fullUserName__hover {
  display: none;
}

.profileName:hover + .fullUserName__hover {
  position: absolute;
  display: inline-block;
  top: 56px;
  left: 84px;
  background-color: var(--brownColor100);
  width: fit-content;
  height: auto;
  padding: 8px;
  border-radius: 8px;
  line-height: 16px;
  font-size: 12px;
  z-index: 1;
}

.infoSection {
  color: var(--grayscaleColor400);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  display: flex;
  align-items: center;
}

.infoIcon {
  width: 18px;
  height: 18px;
}

@media (max-width: 767px) {
  .profileImage {
    width: 48px;
    height: 48px;
  }

  .profileName {
    font-size: 18px;
    line-height: 1.33333;
  }

  .infoSection {
    font-size: 14px;
    line-height: 1.28571;
  }
}
